@font-face {
    font-family: "ledFont";
    src: url("./fonts/14\ Segment\ LED\ Regular.ttf");
}

body {
    overflow: hidden;
    background-color: #888;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#score-panel {
    display: flex;
    justify-content: space-around;
    width: 400px;
    padding-bottom: 20px;
}

#score-panel > div {
    font-family: "ledFont";
    font-size: 3em;
    color: darkslategray;
    background-color: #0f0;
    border: 0.2em double darkslategray;
    border-radius: 0.25em;
    box-shadow: 0px 0.22em 0px 0px inset darkslategray,
        0px -0.28em 0px 0px inset darkslategray;
}

#score-panel > #record-score {
    background-color: rgba(169, 199, 79, 0.6);
}

#display-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#led-panel {
    display: flex;
    justify-content: space-around;
    width: 400px;
    padding-top: 20px;
}

#led-panel > div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: radial-gradient(40% 35%, #ccc, #969696 60%);
    box-shadow: inset 0 2px 4px 1px rgba(0, 0, 0, 0.3), 0 1px 0 gray,
        inset 0 1px 0 gray;
}

#led-running.active {
    background: radial-gradient(40% 35%, #cfc, #0f0 60%);
}

#led-pause.active {
    background: radial-gradient(40% 35%, #ffc, #ff0 60%);
}

#led-game-over.active {
    background: radial-gradient(40% 35%, #ffc, #f00 60%);
}

#overlay {
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 9;
}

#overlay.pause {
    background: linear-gradient(
        0deg,
        rgba(60, 65, 44, 0.6) 0%,
        rgba(169, 199, 79, 0.6) 10%,
        rgba(60, 65, 44, 0.6) 20%,
        rgba(168, 198, 78, 0.6) 30%,
        rgba(60, 65, 44, 0.6) 40%,
        rgba(168, 198, 78, 0.6) 50%,
        rgba(60, 65, 44, 0.6) 60%,
        rgba(168, 198, 78, 0.6) 70%,
        rgba(60, 65, 44, 0.6) 80%,
        rgba(168, 198, 78, 0.6) 90%,
        rgba(60, 65, 44, 0.6) 100%
    );
    background-size: 400% 400%;
    animation: PauseFlickering 8s ease infinite;
}

#overlay.game-over {
    background: radial-gradient(
        40% 35%,
        rgba(199, 79, 79, 0.6),
        rgba(65, 44, 44, 0.6) 140%
    );
}
#overlay.reset {
    background: linear-gradient(
        45deg,
        rgba(65, 65, 65, 0.6) 0%,
        rgba(206, 206, 206, 0.6) 10%,
        rgba(65, 65, 65, 0.6) 20%,
        rgba(206, 206, 206, 0.6) 30%,
        rgba(65, 65, 65, 0.6) 40%,
        rgba(206, 206, 206, 0.6) 50%,
        rgba(65, 65, 65, 0.6) 60%,
        rgba(206, 206, 206, 0.6) 70%,
        rgba(65, 65, 65, 0.6) 80%,
        rgba(206, 206, 206, 0.6) 90%,
        rgba(65, 65, 65, 0.6) 100%
    );
    background-size: 400% 400%;
    animation: PauseFlickering 1s ease infinite;
}

@keyframes PauseFlickering {
    0% {
        background-position: 94% 0%;
    }
    50% {
        background-position: 7% 100%;
    }
    100% {
        background-position: 94% 0%;
    }
}

#game-display {
    overflow: hidden;
    position: relative;
    width: 400px;
    height: 400px;
    border: 1em ridge #040504;
    border-radius: 0.5em;
}

.empty-cell {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ddb;
    box-shadow: 0 0 0 2px #ffd inset;
}

.snake-cell {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000;
    box-shadow: 0 0 0 2px #fff inset;
}

.normal-food-cell {
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(
        0deg,
        rgba(255, 0, 0, 1) 10%,
        rgba(255, 154, 0, 1) 18%,
        rgba(208, 222, 33, 1) 26%,
        rgba(79, 220, 74, 1) 34%,
        rgba(63, 218, 216, 1) 42%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 58%,
        rgba(95, 21, 242, 1) 66%,
        rgba(186, 12, 248, 1) 74%,
        rgba(251, 7, 217, 1) 82%,
        rgba(255, 0, 0, 1) 100%
    );

    box-shadow: 0 0 0 2px #fff inset;
}

.hot-food-cell {
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(
        135deg,
        rgb(255, 255, 0) 0%,
        rgb(255, 0, 0) 100%
    );

    box-shadow: 0 0 0 2px #fff inset;
}

.chill-food-cell {
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(
        45deg,
        rgb(0, 255, 42) 0%,
        rgb(0, 119, 255) 100%
    );

    box-shadow: 0 0 0 2px #fff inset;
}

.superhot-food-cell {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #f00;
    box-shadow: 0 0 0 2px #faa inset;
}

.superchill-food-cell {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #0ff;
    box-shadow: 0 0 0 2px #aff inset;
}

#button-panel {
    display: flex;
    justify-content: space-around;
    width: 400px;
    padding-top: 20px;
}

#button-panel > button {
    outline: none;
    background: #332;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.button-label {
    display: block;
    padding: 12px 18px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: #776;
    color: white;
    transform: translateY(-6px);
}

#button-panel > button:active .button-label {
    transform: translateY(-2px);
}

#control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding-top: 40px;
}

#horizontal-arrows {
    display: flex;
    width: calc(48px * 3);
    justify-content: space-between;
    align-items: center;
}

#control-panel > button,
#control-panel > * > button {
    outline: none;
    background: #332;
    border-radius: 40%;
    width: 48px;
    height: 48px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.arrow-label {
    display: block;
    padding: 12px 0px;
    border-radius: 40%;
    font-size: 1.25rem;
    background: #776;
    color: white;
    transform: translateY(-6px);
}

#control-panel > button:active .arrow-label,
#control-panel > * > button:active .arrow-label {
    transform: translateY(-2px);
}
